<!DOCTYPE html>
<html>
<head>
  <title>File Upload</title>
</head>
<body>
  <h1>File Upload</h1>
  <form method="post" enctype="multipart/form-data" action="/upload">
    <input type="file" name="fileInput">
    <button type="submit">Upload</button>
  </form>

  <% if (downloadLink) { %>
    <p>Download link: <a href="/download/<%= downloadLink %>">Download file</a></p>
  <% } %>
</body>
</html>