<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

  <title>Document</title>
</head>

<body>
  <%- include('nav.ejs') %>

  <article id="bc63f675-119f-42f5-9921-6b4e3a10a945" class="page sans">
    <header>
      <h1 class="page-title">ASE 285 Project manual</h1>
    </header>
      <div class="page-body">
      <ul id="2cf0a144-0c87-4ac7-99d0-e0405fe62fc1" class="bulleted-list">
        <li style="list-style-type:disc">User guild<ul id="5fb99171-c712-4632-b5de-0fa28f779cd0" class="bulleted-list">
      <li style="list-style-type:disc">First Steps<ul id="98779749-4181-4bb0-90a8-0fc2b2f4d515" class="bulleted-list">
      <li style="list-style-type:circle">When you enter the Todo app you will first need to login to your account.<ul id="58958430-4588-4f6e-bc3a-80c6ab0d5fdf" class="bulleted-list">
      <li style="list-style-type:square">If you do not have an account, than use the register button to create an account.</li>
      </ul>
      </li>
      </ul>
      <ul id="16fc7a69-1880-46cf-845a-8b83d1fe21d1" class="bulleted-list">
      <li style="list-style-type:circle">Once you are logged in, you are free to use all functions provided by the todo app.</li>
      </ul>
      </li>
      </ul>
      <ul id="d5e8578a-16a8-437c-9f4d-b050e81ee849" class="bulleted-list">
      <li style="list-style-type:disc">Home page<ul id="98779749-4181-4bb0-90a8-0fc2b2f4d515" class="bulleted-list">
      <li style="list-style-type:circle">In the home page you can add a post to the todo app and view a brief list of current post in the app.</li>
      </ul>
      <ul id="32eaa825-2943-47ff-93fc-aea43b9b2f81" class="bulleted-list">
      <li style="list-style-type:circle">To add a post you will need at add a title at the minimum. If you do not include a title, you will be directed to an error page with the ability to go back to the home page. </li>
      </ul>
      <ul id="941fbacf-3fc1-494b-af06-5ac388e5798d" class="bulleted-list">
      <li style="list-style-type:circle">You can also add a date to your post. Use the date selector to chose what date you would like to enter with your post. <ul id="c8034398-6f5e-4a36-a78d-445c5ee5fe52" class="bulleted-list">
      <li style="list-style-type:square">Feel free to type the date into the selector if you do not wish to use the drop down box.</li>
      </ul>
      <ul id="812500fa-e645-4bd5-81ce-4d3f422674eb" class="bulleted-list">
      <li style="list-style-type:square">If a date is not selected, todays date will be used in stead.</li>
      </ul>
      </li>
      </ul>
      <ul id="40216561-2190-4a94-921d-3a075b3ba540" class="bulleted-list">
      <li style="list-style-type:circle">You can also add a tag to your post to show the priority of the task. You can select any of the options from the drop down menu, but you can only have one per post.<ul id="339e3bb6-2dda-4d4f-a640-a93523513f2e" class="bulleted-list">
      <li style="list-style-type:square">If a tag is not selected, a tag of “Standard task” will be applied to the post</li>
      </ul>
      </li>
      </ul>
      <ul id="6abf59af-5041-40cf-a8f3-e9cb4a8aa362" class="bulleted-list">
      <li style="list-style-type:circle">The final addition you can make to a post is to add a file. Use the “chose file” button to add a file to your post. <ul id="e9c27c1b-66d4-4484-9830-55a9f28e29e5" class="bulleted-list">
      <li style="list-style-type:square">If a file is not provided, they will not be one added.</li>
      </ul>
      </li>
      </ul>
      </li>
      </ul>
      <ul id="ced37045-2d3c-4b28-96d6-06613bd3a814" class="bulleted-list">
      <li style="list-style-type:circle">Once you are done adding your information, use the “+” button to add your post to the todo app</li>
      </ul>
      </li>
      </ul>
      <ul id="81f7dd8d-c1a4-482f-bd35-34605ccd50a5" class="bulleted-list">
      <li style="list-style-type:disc">List page<ul id="98779749-4181-4bb0-90a8-0fc2b2f4d515" class="bulleted-list">
      <li style="list-style-type:circle">When you click on “List” in the nav bar, you will find yourself in the list page.</li>
      </ul>
      <ul id="f6f0e800-d7be-4565-9f34-a367253e1f87" class="bulleted-list">
      <li style="list-style-type:circle">In the list page, you can view more the post added to the todo app with field titles next to the information within the post.</li>
      </ul>
      <ul id="17dc4d90-6300-43a7-9c2b-482d3cb36f56" class="bulleted-list">
      <li style="list-style-type:circle">You will also find 3 button below each post. <ul id="353507c3-8866-478f-84a6-b3bd6995cded" class="bulleted-list">
      <li style="list-style-type:square">The first button will send you to a update page that will allow you to change the content of a post</li>
      </ul>
      <ul id="f9aea905-58e2-4cae-bb27-b692dcae876f" class="bulleted-list">
      <li style="list-style-type:square">The second button will delete the post form the todo app</li>
      </ul>
      <ul id="707b17a0-9370-4c68-b835-60c3d21c044b" class="bulleted-list">
      <li style="list-style-type:square">The third button will download the file that the post contains</li>
      </ul>
      </li>
      </ul>
      </li>
      </ul>
      <ul id="e54fa8b2-1d62-4a84-a142-0f9b35fc75a2" class="bulleted-list">
      <li style="list-style-type:disc">Instruction page<ul id="1b676874-462a-438a-b799-03a716832ed2" class="bulleted-list">
      <li style="list-style-type:circle">When you click on the “Instructions” in the nav bar, you will find yourself in the instruction page</li>
      </ul>
      <ul id="01639f7f-d51b-4db5-b389-d161519b8934" class="bulleted-list">
      <li style="list-style-type:circle">in the instruction page, you can view this manual from within the todo app</li>
      </ul>
      </li>
      </ul>
      <ul id="cda4ea5f-6baa-4943-affa-f19187c32645" class="bulleted-list">
      <li style="list-style-type:disc">Clear to do list <ul id="db12d8b5-206f-40ed-bb24-30771a49f1e4" class="bulleted-list">
      <li style="list-style-type:circle">When you click on “Clear to do list” in the nav bar, you will clear all post in the todo app and will be sent to the home page</li>
      </ul>
      </li>
      </ul>
      <ul id="169c44c3-5410-4168-ac1c-1dad078380d8" class="bulleted-list">
      <li style="list-style-type:disc">Search by tag<ul id="94e83da5-caac-43be-9351-80f9215ea80d" class="bulleted-list">
      <li style="list-style-type:circle">When you click on “Search by tag” in the nav bar, you will be sent to the Search by tag page where you are presented with a tag selector and a submit button</li>
      </ul>
      <ul id="a4cd5cb2-c190-41b0-b0fb-0d709f7785af" class="bulleted-list">
      <li style="list-style-type:circle">Select the tag that you would like to search the todo app for.<ul id="83142092-4752-478b-a0b6-d0087e4b9d30" class="bulleted-list">
      <li style="list-style-type:square">“Standard task” will be selected if no selection is made. </li>
      </ul>
      </li>
      </ul>
      <ul id="76d8fad7-5f77-43de-bf85-dcf43e205204" class="bulleted-list">
      <li style="list-style-type:circle">Once you have selected the tag that you would like to search the todo app for, click the submit button. Once clicked, you will be sent to the list page and only tasks with the chosen tag will be displayed. <ul id="2acdc21a-5e7f-430c-972c-bb04ea24a903" class="bulleted-list">
      <li style="list-style-type:square">If you see an empty list page, that means that there where no posts that matched your search parameters.</li>
      </ul>
      </li>
      </ul>
      </li>
      </ul>
      <ul id="3589017e-9ebe-4cef-b409-2f9497dbae69" class="bulleted-list">
      <li style="list-style-type:disc">Advanced Search<ul id="b71b1702-c805-4517-81f9-62d581f5ebd7" class="bulleted-list">
      <li style="list-style-type:circle">When you click on “Advanced Search” in the nav bar, you will be sent to the Advanced Search page where you are presented with a title and date input box with a submit button.</li>
      </ul>
      <ul id="7ebf2998-7cdf-4677-a617-7bd5a547e2ee" class="bulleted-list">
      <li style="list-style-type:circle">Enter the key word and/or the exact date you would like to search for.<ul id="eb11483f-a525-4b21-8a5d-a07da28df452" class="bulleted-list">
      <li style="list-style-type:square">If you do not select anything, you will be sent to the error page.</li>
      </ul>
      <ul id="12433be3-1f82-4db4-a377-bcd384c7a946" class="bulleted-list">
      <li style="list-style-type:square">The Advanced Search page requires a search parameter to be entered </li>
      </ul>
      </li>
      </ul>
      <ul id="bc80bb79-4b8a-465b-9a23-90a82b19e14b" class="bulleted-list">
      <li style="list-style-type:circle">Once you have made a entry with the search criteria you want, click the submit button. Once clicked, you will be sent to the list page and only tasks with the chosen parameters will be displayed. <ul id="788e4c87-dcaf-4d87-ae79-4e7599bd56d7" class="bulleted-list">
      <li style="list-style-type:square">If you see an empty list page, that means that there where no posts that matched your search parameters.</li>
      </ul>
      </li>
      </ul>
      </li>
      </ul>
      <ul id="2a6e28d8-c3e8-42db-ad5f-2f1c37f2c8ee" class="bulleted-list">
      <li style="list-style-type:disc">Search<ul id="8075cb96-5682-43ab-a83f-108f491df76a" class="bulleted-list">
      <li style="list-style-type:circle">When you click on “Search” in the nav bar, you will be sent to the Advanced Search page where you are presented with a start date and end date input box with a submit button.</li>
      </ul>
      <ul id="07f6d7f3-1202-4726-9e58-aea3ee7fec11" class="bulleted-list">
      <li style="list-style-type:circle">Enter the date range you would like to search for.<ul id="77c3799a-a150-461c-9199-3b86eae86d72" class="bulleted-list">
      <li style="list-style-type:square">If you do not select two dates, you will be sent to the error page.</li>
      </ul>
      <ul id="aebfd1e4-6847-4d31-9fe9-a92ec04d9edc" class="bulleted-list">
      <li style="list-style-type:square">The Search page requires a complete set of search parameter to be entered </li>
      </ul>
      </li>
      </ul>
      <ul id="2c46fe63-8fc7-4bad-ae5e-1363ebcbd99f" class="bulleted-list">
      <li style="list-style-type:circle">Once you have made a entry with the search criteria you want, click the submit button. Once clicked, you will be sent to the list page and only tasks with the chosen parameters will be displayed. <ul id="dfcbde18-2d6e-45dc-8d56-e612446d3fbc" class="bulleted-list">
      <li style="list-style-type:square">If you see an empty list page, that means that there where no posts that matched your search parameters.</li>
      </ul>
      </li>
      </ul>
      </li>
      </ul>
      <ul id="ae1c7064-a2c4-4766-92a0-cbc38612d7d7" class="bulleted-list">
      <li style="list-style-type:disc">Account <ul id="71cef603-429e-47eb-83e5-34f36fc9ada2" class="bulleted-list">
      <li style="list-style-type:circle">When you click on “Account” in the nav bar, you will be sent to the account page where you can see the username and email of the currently logged in account. </li>
      </ul>
      </li>
      </ul>
      <ul id="0f397a62-bf55-4758-ab4e-69ef942b5725" class="bulleted-list">
      <li style="list-style-type:disc">Errors<ul id="8a10ced5-02d8-49cf-a89c-8401d2ff6f66" class="bulleted-list">
      <li style="list-style-type:circle">Any errors will result in the redirection of the user into the error page. When sent to the error page, please read the above user guild and retry the function you where trying to use.</li>
      </ul>
      </li>
      </ul>
      <ul id="7f695df3-3d7f-47a2-81c9-06d2510004d0" class="bulleted-list">
      <li style="list-style-type:disc">Basic structure of the Todo app</li>
      </ul>
      <ul id="fd7c1337-ee32-482b-b9d3-571d96b730e3" class="bulleted-list">
      <li style="list-style-type:disc">From any feature you can use the nave bar.</li>
      </ul>
      <ul id="6d077307-93e5-4c9d-a5f5-8a8595cda3f5" class="bulleted-list">
      <li style="list-style-type:disc">first the user will be present to login or register an account</li>
      </ul>
      <ul id="97e08e08-eabf-41d2-a409-ec84ad8927a5" class="bulleted-list">
      <li style="list-style-type:disc">after that the user will be directed to the home page where they can select any of the todo app features for use <ul id="1fcd1a50-296e-4a34-8699-4879a77b30b8" class="bulleted-list">
      <li style="list-style-type:circle">login/register → home → home, list, clear to do list, tag search, advance search, search, account </li>
      </ul>
      </li>
      </ul>
      <ul id="48551571-bc7d-44a4-a589-785de1f4ee99" class="bulleted-list">
      <li style="list-style-type:disc">Form the list page the user can update, delete or download a file form the todo app<ul id="dee615cf-37d7-4982-a80d-2ed0ac805d39" class="bulleted-list">
      <li style="list-style-type:circle">List → update, delete, download</li>
      </ul>
      </li>
      </ul>
      <ul id="1c01a8e2-ae02-483a-a69c-7b2215ec323a" class="bulleted-list">
      <li style="list-style-type:disc">Tag search, advance search, and search the user is sent to the page of the feature clicked. once done the user is directed to the list page<ul id="d852bb19-d791-4b1e-b948-043387e15d5d" class="bulleted-list">
      <li style="list-style-type:circle">Tag search, advance search, and search → search input page → list page</li>
      </ul>
      </li>
      </ul>
      <ul id="aefe5505-3d17-4359-9851-73d78ff8fc6a" class="bulleted-list">
      <li style="list-style-type:disc">There is not redirection in the account page<ul id="8a5c5359-7c38-4f34-8ead-91e37f24aeab" class="bulleted-list">
      <li style="list-style-type:circle">Account → function clicked in the nav bar. </li>
      </ul>
      </li>
      </ul>
      <p id="005e3f23-b320-4d02-b908-79b9ca145658" class="">
  </p>
      </div>
      </article>

</body>

</html>
