
<!DOCTYPE html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

<title>Todo App</title>
<link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
  <%- include('nav.ejs') %>
<div class="todo-container">
<h2>To-Do List</h2>
<div class="todo">
<form action="/add" method="POST" enctype="multipart/form-data">
  <input type="text" name="content">
  <input type="date" name="date">
  <label for="tag">Chose a tag:</label>
  <select name="tag" id="tag">
    <option value="Standard Task">Standard Task</option>
    <option value="Urgent">Urgent</option>
    <option value="Low Priority">Low Priority</option>
    <option value="Routine">Routine</option>
  </select>
  <label for="file">Select a file:</label>
  <input type="file" name="fileInput">
  <button type="submit"><span class="fas fa-plus"></span></button>
</form>

<ul class="todo-list">
  <% todoTasks.forEach(details => { %>
  <li class="todo-list-item">
  <div class="todo-list-item-name"><%= details.content %>,<%= details.date %>,<%= details.tag %></div>
  </li>
  <% }) %>
</ul>

</div>
</div>
</body>